@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Regular.woff') format('woff'),
         url('font/RockfordSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Bold.woff') format('woff'),
         url('font/RockfordSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-azul: #81cdff;
    --primary-lilasclaro: #a772ff;
    --primary-lilasescuro: #641bdd;

    --secundary-aqua: #b1c86f;
    --secundary-verde: #71c4b0;

    --claro: #fcfcfc;
    --escuro: #4a4a4a;

    --backgroud1: #e7e7e7;
    --gap: 3rem;
    --font1: 'Rockford', Arial, sans-serif;
    --font2: 'Poppins', Arial, sans-serif;
    --vh: 60vh
    
}

.grad1{
    background: linear-gradient(130deg,  var(--primary-lilasclaro) 5%, var(--primary-azul) 50%, var(--secundary-verde) 95%);
}

.grad2{
    background: linear-gradient(130deg,  var(--secundary-aqua), var(--secundary-verde));
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */

section {
    padding: 0;
     max-width: 100%;
    margin: 0 auto;
}

h1 {
    
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 3rem;

}

h2 {    
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 2.5rem;
}

h3 {
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font2);
    font-size: 1.3rem;
}

p {
    color: var(--escuro);
    font-size: 1em;
    font-family: var(--font2);
}

ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
    font-family: var(--font2);

}
ul li {
    margin-bottom: 0.5rem;
    font-family: var(--font2);

}

body {
    /* margin-top: 70px; /* Para não sobrepor o conteúdo ao header */ 
    font-family: var(--font2);
    background-color: var(--claro);
    line-height: 1.6;
    width: 100%;
}

/* HEADER */

header {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
   
    width: 100%;
    position: relative;
    /*border: solid 1px black; */

    transition: height 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
}

.contatos-top-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: right;
    justify-content: right;   
    padding-top: 5px;
    margin: 0 auto;
    height: 30px; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
    /*border: solid 1px black; */
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none; 
}

.contatos-top-icone {
    color: var(--primary-lilasescuro);
    font-size: 1rem;
    margin: 0px 2px;    
    padding: 0;
}

.contato-top-texto {
    font-family: var(--font2);
    font-size: 0.8rem;
    font-weight: lighter;
    color: black;
    margin-right: 10px;
}

.header-fixed {
    display: flex;
    position: fixed;
    
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    padding: 0;
    z-index: 10;
    margin: 0;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    
    /*background-color: var(--claro);*/
    
}

.header-content{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    /*border-bottom: 0.5px solid rgba(113, 196, 176, 0.4); */
    /*border: 1px solid black;*/

}

.logoimg{
    display: none;
    padding: 5px ;
    height: 60px ;
    object-fit: cover;   
}

header nav {
    flex: 1 1 100vw;
    align-items: center;
    padding-top: 0px;
    margin-left: auto;
    list-style: none;
    display: flex;
    padding-right: 40px;
    gap: 3rem;
    justify-content: flex-end;   
    
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 20px;
}

header nav ul li a {
    color: var(--claro);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: var(--primary-lilasescuro);
}

#menu a {
    color: var(--claro);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

/*               MAIN                        */

.inicio{
    /*position:static;*/
    top: 10px;
    margin: 0;
    height: var(--vh);
    min-height: 420px;
    display: block;
    align-items: center;
    justify-content: center;
    /* overflow: hidden;  */
    padding: 0 ;
     background-color: rgba(255, 255, 255, 0.5); 
    /* background-color: rgba(0,0,0, 0.5); */
        
}

#section-video {
    position: absolute;
    left: 0;
    width: 100%;
    height:  var(--vh);
    min-height: 420px;
    object-fit: cover;
    z-index: -1; 
    margin: 0;
}

.inicio-container{
    
    justify-content: center;
    align-items: center;
    z-index: 1;   
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    
    max-width: 100vw
    /*border: solid 1px black;  */
}

.inicio-content1 {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items:center;
    z-index: 1;   
    padding-top: 6vh;  
    margin: 0 5%;
    max-width: 100vw
    /*border: solid 1px black;  */
}

.inicio-content2{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;     
    margin: 20px 5%;
    max-width: 100vw;  
    /*border: solid 1px red;*/

}

.banner-img{
    display: flex;
    padding: 5px ;
    height: auto ;
    width: 25vw;
    object-fit: cover;   
}

.inicio-content1 h1{
    text-align: justify;

    color: var(--escuro);
    /*font-size: 3rem;*/
    font-size:  3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    margin-left: 10px;
    
}

.inicio-content2 p {
    color: var(--escuro);
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    margin: 0px;
    padding: 0px;
}

/*                         SOBRE                             */


#sobre{
    margin-bottom: 30px;

}

.sobre1-container1{
    display:flex;
    justify-content: auto; 
    margin: 20px auto;
    padding: 0px;
    max-width: 100vw;
    flex-wrap: wrap;    
    
}

.sobre-texto1{
    flex: 2fr;
    align-items: left;
    margin: 25px auto;    
    
    max-width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
   /*  display: flex;
    justify-content: auto; 
    flex-wrap: wrap;
    max-width: 100vw;
    margin: auto;
    padding: 10px; */
}

.sobre-texto1 p{
    width: 45vw;
    margin-right: 10px;


}

.sobre-img1{
    display: flex;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    padding: 0;
    object-fit: cover;
    max-height: 45vh;


}

.sobre1-container2 {
    display: flex;
    justify-content: auto; 
    margin: 5px auto;
    padding: 10vh 0;
    width: 100vw;
    flex-wrap: wrap;    
    justify-content: center; 


    background-image: url('img/background-sobre.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;   
    
    
    background-color: #d8d8d8;
    margin: 0;

    
    /* 
    
    max-width: 1200px;
    margin: 10px auto; */
}

.sobre1-caixa{
    align-items: center;
    margin: 5px;    
    min-width: 300px;
    max-width: 380px;
    background-color: white;
    min-height: 150px;
    padding: 15px;
    border-radius: 0 25px;

}



.sobre1-caixa p{
    padding: 0 1rem;
    list-style: none;
    font-size: 0.9rem;
    text-align:left;
    margin-bottom: 1rem;
}


.sobre1-caixa h4{
    margin-left: 5px;
    list-style: none;
    font-size: 1rem;
    text-align:left;
    color: var(--escuro);
    

    
}





#sobre h3{
    margin: 10px auto;
    
}

.caixa-texto{
    display: flex;
    justify-content: auto; 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 10px;

}

.sobre-container {
    display: flex;
    justify-content: auto; 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
    justify-content: center; 
    /* 
    max-width: 1200px;
    margin: 10px auto; */
}

.sobre-caixa {
    flex: 3fr;
    align-items: center;
    margin: 5px;    
    min-width: 300px;
    max-width: 380px;
    background-color: white;
    min-height: 200px;
    padding: 0;
}

.sobre-caixa p{
    padding: 0 1rem;
    list-style: none;
    font-size: 0.9rem;
    text-align:left;
    margin-bottom: 1rem;
}

.sobre-caixa h3{
    padding: 0 1rem;
    list-style: none;
    font-size: 1rem;
    text-align:left;
    
}
.sobre-caixa h4{
    padding: 0 5px;
    list-style: none;
    font-size: 1rem;
    text-align:left;
    color: var(--escuro);

    
}
.span-h4{
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

.icon-imgh4{
    display: flex;
    height: 1rem;
    margin: 0;
    padding: 0;
    
}

/* SERVIÇOS */

#servicos{
    margin-bottom: 30px;
    display: block;
    background-color: whitesmoke;
}

.width-100 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--claro);
    margin: 0;
    padding: 0;
    position: relative; /* Para posicionar os botões corretamente */
}

.new-section {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 10vh;
    box-sizing: border-box;
    /*background: url('img/backgroundprovisorio.png') no-repeat center center fixed, 
    linear-gradient(130deg,  var(--primary-lilasclaro) 5%, var(--primary-azul) 50%, var(--secundary-verde) 95%);;
    background-size: cover; */
    /*border: solid 1px black;*/
}

.corpodasecao {
    /* display: flex;
    overflow-x: auto; /
    scroll-behavior: smooth; 
    width: 100%;
    padding: 10px 0;
    margin: 0 5vw;
    align-items: center;
    justify-items: center;
 */
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-items: center;
    gap: 10px; 
     padding: 20px; 
    width: 100%; 
    margin: 0 auto; 
    background-color: whitesmoke;
    
}

/* 
.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 10px; 
}

.scroll-button.right {
    right: 10px;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */

.caixa-serv {
    flex: 0 0 auto; /* Impede que as caixas se ajustem ao tamanho do contêiner */
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.5);
    width: 360px;
    background-color: white;
    height: 450px;
}

.h2serv {
    padding: 1rem;
    margin: 0 ;
}

.caixa-serv {
    flex: 3fr;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    /*border: 1px solid black;*/
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.5);
    min-width: 300px;
    max-width: 300px;
    background-color: white;
    min-height: 400px;
}

.img-serv {
    width: 100%;
    
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.h3serv {
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align:left;

}

.txtserv {
    padding: 0 1rem;
    color: black;
    font-size: 0.9rem;
    text-align:left;
    margin-bottom: 1rem;
}

/* Mostrar marcadores para listas que usam a classe txtserv */
ul.txtserv {
    list-style: disc;
    margin-left: 1.25rem;
    padding-left: 1rem;
}



/*Chamada de ação*/
.acao {
    background-image: url('img/img-chamada-acao.png');
    background-size: cover;
    
    background-position: center;
    height: 400px;
}
.acao h2, .acao p {
    color:rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    align-items: start;
    width: 30vw;
    
}

/*        Formulário de contato        */

#contato{

}

.containerform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background: white;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    align-items: flex-start;
}

.info {
    display: block;
    /* flex: 1; */
    padding-right: 20px;
    justify-content: left;
    
}
.info p{
    font-size: 1rem;
    color: var(--escuro);
}

form {
    flex: 1;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #27ae60;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}


/*      FOOTER       */

footer {
    background-color: var(--escuro);
    padding: 20px 0 0 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.footer-logo img {
    width: 250px; 
    height: auto;
}

.info-section, .contact-section {
    display: block;
    
    text-align: left;
    
    color: var(--claro)
}

.info-section p {
    font-size: 1rem;
    font-family: var(--font2);
    margin-top: 10px;
    color: var(--claro);
}

.info-section a {
    color: var(--claro);
    text-decoration: none;
}

.footer-container  h2 {
    font-size: 24px;
    color: var(--claro);
}

.footer-container h3 {
    font-size: 18px;
    margin-top: 10px;
    color: var(--claro);
    text-align: left;
}

.contato-footer-icone {
    color: white;
    font-size: 1rem;
    margin: 0px 2px;    
    padding: 0;
}

.contato-footer-texto{
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: lighter;
    color: white;
    margin-right: 10px;
}

footer p {
    display: flex;
    font-size: 18px;
    margin-top: 10px;
    color: var(--claro);
}

.footer-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    
}

.footer-bottom p {
    font-size: 0.9em;
    color: var(--claro);
}
.footer-bottom a {
     text-decoration: none;
     color: var(--claro);
 }

.social-icons img {
    
    width: 50px; 
    margin: 10px;
}
